* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.hero {
  height: 100vh;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(16, 15, 23, 0.7) 47.81%,
    rgba(16, 15, 23, 0.265374) 103.69%,
    rgba(16, 15, 23, 0) 137.81%
  );
}

.hero__wraper {
  z-index: 10;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  z-index: -1;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 120px;
  padding-top: 25px;
  align-items: flex-end;
}
.hero__navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__navigate-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  list-style: none;
}
.hero__navigate-list:last-child {
  margin-right: 0;
}
.hero__navigate-link {
  position: relative;
  font-size: 0;
  padding: 15px;
  margin-right: 15px;
}
.hero__navigate-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.hero__navigate-link--instagram::before {
  background-image: url(./images/icons/instagram.svg);
}
.hero__navigate-link--vk::before {
  background-image: url(./images/icons/vk.svg);
}
.hero__navigate-link--youtube::before {
  background-image: url(./images/icons/youtube.svg);
  width: 32px;
  height: 32px;
}
.hero__navigate-link--facebook::before {
  background-image: url(./images/icons/facebook.svg);
}
.hero__link {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 33px;
  border-bottom: 1px solid transparent;
}
.hero__link:hover {
  border-bottom: 1px solid #fff;
}
.hero__text {
  font-family: "Gilroy";
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.hero__subtitle {
  text-transform: lowercase;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 15px;
}
.hero__title {
  font-size: 64px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.profession_during_teaching {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #cb9c68;
  margin-bottom: 51px;
}
.more {
  background: #cb9c68;
  border-radius: 8px;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 19px 72px;
  width: 283px;
  height: 67px;
}

.school {
  background-color: black;
  font-family: "Gilroy";
}
.school_inner {
  padding-top: 110px;
  margin-bottom: 95px;
}
.school_title {
  position: relative;
  border-radius: 14px;
  margin-bottom: 45px;
  font-size: 64px;
  line-height: 76px;
  z-index: 1;
}
.school_title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -50px;
  width: 999px;
  height: 175px;
  background: linear-gradient(
    94.4deg,
    rgba(44, 35, 31, 0.68) 4.85%,
    rgba(203, 156, 104, 0.68) 95.02%
  );
  opacity: 0.68;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(28px);
  border-radius: 14px 0px 0px 14px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.school_title_text {
  color: white;
  text-transform: uppercase;
}
.school_title_text_this {
  margin-left: 110px;
  color: white;
}
.school_title_span {
  color: #cb9c68;
}
.school__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.school__cards-item {
  color: #fff;
  background-color: #362b27;
  border-radius: 16px;
  padding: 88px 40px 20px 25px;
  list-style: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  position: relative;
}
.school__cards-item::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 20px;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
}
.school__cards--book::before {
  background-image: url(./images/icons/book.svg);
}
.school__cards--man::before {
  background-image: url(./images/icons/man.svg);
}
.school__cards--pencilhead::before {
  background-image: url(./images/icons/pencilhead.svg);
}
.school__cards--worldstar::before {
  background-image: url(./images/icons/worldsmile.svg);
}

.courses {
  background-color: #8f6f4e;
  color: #fff;
}
.courses__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.courses__text {
  max-width: 510px;
  width: 100%;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}
.courses__arrow-wraper{
  position: absolute;
  bottom:12px;
  right:50px;
}
.courses__sub-text {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.courses__arrow{
  display: inline-block;
  position: relative;
  width:160px;
  height:1px;
  background-color: #fff;
  border-top: 1px solid #fff;
}
.courses__arrow::after,
.courses__arrow::before{
  content: '';
  width: 10px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
}
.courses__arrow::before{
  transform: rotate(45deg);
  top:-5px ;
}
.courses__arrow::after{
  transform: rotate(-45deg);
  top: 3px;
}
.courses__link {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.02em;
  padding: 20px;
  background: #cb9c68;
  border: 1px solid #cb9c68;
  border-radius: 8px;
  max-width: 285px;  
  width:100%;
  text-align: center;
}
